@model List<VwBook>

@section Styles {
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <style>
         #order-listing td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        #order-listing td:nth-child(2) {
            max-width: 150px; 
        } 

        #order-listing td img {
            width: 160px; 
            height: 100px; 
            object-fit: contain;
            border-radius: 0;
        }

    </style>
 }

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> @ResAdmin.lblAllBooks </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" asp-area="Admin">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data table</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Books table</h4>
            <a class="btn btn-success btn-fw" asp-controller="Book" asp-action="Edit" asp-area="Admin">@ResGeneral.lblNew</a>
            <div class="row">
                <div class="col-12">
                    <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="order-listing" class="table dataTable no-footer" aria-describedby="order-listing_info">
                                    <thead>
                                        <tr>
                                            <th>@ResAdmin.lblImage</th>
                                            <th>@ResAdmin.lblTitle</th>
                                            <th>@ResAdmin.lblCategoryName</th>
                                            <th>@ResAdmin.lblIsbn</th>
                                            <th>@ResAdmin.lblPrice</th>
                                            <th>@ResGeneral.lblActions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {

                                            <tr>
                                                <td>
                                                    @* <img src="/Uploads/Items/@Model[i].ImageName" /> *@
                                                    <img src="@Model[i].ImageName" />
                                                </td>
                                                <td>@Model[i].Title</td>
                                                <td>@Model[i].CategoryName</td>
                                                <td>@Model[i].Isbn</td>
                                                <td>@Model[i].SalesPrice</td>
                                                <td>
                                                    <a class="btn btn-info btn-fw" asp-controller="Book" asp-action="Edit" asp-area="Admin" asp-route-id="@Model[i].BookId">@ResGeneral.lblEdit</a>
                                                    <a class="btn btn-danger btn-fw" asp-controller="Book" asp-action="Delete" asp-area="Admin" asp-route-id="@Model[i].BookId" >@ResGeneral.lblDelete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Plugin js for this page -->
    <script src="~/Admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page -->
    <script src="~/Admin/js/data-table.js"></script>
    <!-- End custom js for this page -->
    <script>
        function Search(dropDown)
        {
            var id = $(dropDown).val();           
            window.location.href = "/admin/Book/Search?id=" + id;
        }
    </script>
} 